data_dir = "/var/lib/consul/server"

server           = true
bootstrap_expect = 3
advertise_addr   = "{{node_ip}}"
client_addr      = "0.0.0.0"
ui               = true
datacenter       = "toronto"
retry_join       = ["192.168.51.2", "192.168.51.3", "192.168.51.4"]