#
# dnsproxy 1.15 configuration file example
#
# $Id: dnsproxy.conf,v 1.7 2005/05/16 17:31:30 armin Exp $

#
# Authoritative server
#
authoritative		127.0.0.1
authoritative-port	8600		# It's port. Defaults to 53.
authoritative-timeout	10		# Seconds to wait for answers.

#
# Recursive resolver
#
recursive		127.0.0.1
recursive-port		8600		# It's port. Defaults to 53.
recursive-timeout	90		# Seconds to wait for answers.

#
# Local address and port of dnsproxy
#
listen {{node_ip}} 
port 53

#
# Security features
#
chroot /var/spool/dnsproxy
user dnsproxy

#
# Internal networks (allowed to do recursive queries)
#
internal 192.168.168.0/24	# Our internal network
internal 192.168.169.0/24	# Friendly neighbours
internal 127.0.0.1
