data_dir = "/var/lib/nomad/server"

server {
  enabled          = true
  bootstrap_expect = 3
  job_gc_threshold = "2m"
}

datacenter = "toronto"

region = "east"

advertise {
  http = "{{node_ip}}"
  rpc  = "{{node_ip}}"
  serf = "{{node_ip}}"
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

client {
  enabled           = true
  network_interface = "eth1"
  servers           = ["192.168.51.2", "192.168.51.3", "192.168.51.4"]
}
